@font-face {
  src: url(Fonts/Helvetica-Neue-Bold.ttf);
  font-family: nos;
}
@font-face {
  src: url(Fonts/HelveticaNeue-Medium.ttf);
  font-family: nos;
}


/* @font-face {
  src: url(Fonts/Helvetica-Neue-Italic.ttf);
  font-family: nos;
} */




h1, p, a, ul{
  padding: 1%;
  font-size:48px;
  color: #000639;
  font-family: nos;

}

h2{
  padding: 1%;
  font-size: 18px;
  color: black;
  font-family: nos;
  }


 p, a, ul{
  padding: 1%;
  font-size:20px;
  font-family: nos;
}







  .bodycolor{
  background: white;
 
}  


  .Navcontainer {
  display: flex;
  padding: 20px;
  background: #202e78;
  margin: 0 auto;

}  




.logo{
  display: flex;
  
  width: 50%;

}

.Navig{
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  
}









/* buttons FAQ, About, Log In */

nav {
  display: block;
  
  padding: 10px;
  
}

a {
  
  padding: 50px;
  color: white;
  text-decoration: none;
  
}

/* hr{z
  width: 80%; */


img {
  max-width: 100%;
  height: auto;
}






/* factory Image*/

 .Images {
  position: relative;
  display: inline-block;
}

.Images .img-FactOn {
 
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  
} 

/* Section 1 Top */
.section1 {
  display: flex;
}



.TextBoxs{
  width: 40%;
  
  
}

/* Text Box Left */


.BoxTextLeft {
  background:#d3d4de; 
 padding: 20px;
width: 80%;
margin: 4%;


}





/* Holds the images 3 verticle columns of 2 pics */
.ImgRight1 {
   
   width: 60%;

}

/* BOX HOLDS IMAGES */

/* .box1{
  background: lightblue;
} */


.Images {
display: flex;
 height: 258px; 
 width: 258px;  
 padding: 20px;

}




/* Button Explore */

.btn{ 
  /* .custom-button(green, 400px, white);
}  */
display: flex;
justify-content: center;

}


button{
  width: 400px;
  height: 50px;
  border-radius: 5px;
  background: #5c6ac4;
  color: white;   
  

}

/* .custom-button (@bg-color:#FFBF27, @width, @fontcolor ){
  display: block;
  background-color: @bg-color;
  margin: 0 10px 20px;
  cursor: pointer;
  width: @width;
  height: 45px;
  font-size: 2rem;
  border-radius: 10px;
  color:@fontcolor
} */

/* .sign-up{
  .custom-button(green, 400px, white);
} */



button:hover {
  background-color: white; 
  color:#6558f5
}



.headimg .btn{
   position: absolute; 
    top: 10%; 
    left: 30%;
 
}





/* Display verticle - Mobile */

@media (max-width: 1000px) {
.ImgRight1 {
  display: flex;
  flex-direction: column;
  background: lightpink;
  padding: 0;
  width: 100%;
  
}

}




@media (max-width: 1000px) {
.section1 {
    display: flex;
    flex-direction: column;
  }
}



/* ImgRight1 600px */

@media (max-width: 1000px) {
  .ImgRight1 {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .ImgRight1 {
    display: flex;
    flex-direction: column;
  }
}



@media (max-width: 1000px) {
  .ImgRight1 {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .ImgRight1 {
    display: flex;
    flex-direction: column;
  }
}



/* Responsive design- for platforms smaller then desktop screen- Tablet, Mobile */
/* Desktop 1200px */

@media (max-width: 1000px) {
  .container {
    background: lightgreen;
  }
  img {
    max-width: 100%;
    height: auto;
  }
}
/* Mobile 600px */

@media (max-width: 500px) {
  .container {
    background: lightcoral;
  }
  img {
    max-width: 100%;
    height: auto;
  }
}
/* End Responsive design */

.boxmain {
  display: flex;
  justify-content: center;
  
}



/* ABOUT PAGE */


.aboutcontainer{
  display: flex;
  background:white;
  padding: 10px;
  width: 100%;
}




.about{
  
  background:#d3d4de; 
  padding: 20px;
  margin: 1%;
  

}














/* Page Login */


.box1{
  display: flex;
}

.LeftBox{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.ImgRight{
display: flex;
flex-direction: right;
}


input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #86a9ca
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}




/* 
div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
} */



